<!-- Panel left -->
<div class="col-md-3">
   
    <div class="panel panel-default" style="border-color: #189eff;">
        <div class="panel-heading" style="background-color:slateblue; color:#fff">Quản lý sản phẩm </div>
        <div class="list-group">
            <a href="/account/watching" class="list-group-item">Sản phẩm yêu thích</a>
            <a href="/account/bidingList" class="list-group-item">Sản phẩm đang đấu giá</a>
            <a href="/account/wonList" class="list-group-item">Sản phẩm đấu giá thành công</a>
        </div>
    </div>
    <div class="panel panel-default" style="border-color: #189eff;">
        <div class="panel-heading" style="background-color: slateblue; color:#fff">Quản lý bán hàng</div>
        <div class="list-group">
            <a href="/account/NewAuction" class="list-group-item">Đăng sản phẩm</a>
           <a href="/account/newPermit" class="list-group-item">Xin phép được bán</a>
        <a href="/account/sellingList" class="list-group-item">Sản phẩm đang được đấu giá</a>
            <a href="/account/soldList" class="list-group-item">Sản phẩm đã đấu giá thành công</a>
             <a href="/account/rateDetail" class="list-group-item">Đánh giá sản phẩm đấu giá thành công</a>
          
              <a href="/account/rateDetail1" class="list-group-item">Các đánh giá của bidder</a>
           
        </div>
    </div>
</div>
<!-- Panel left -->
