<!-- Panel left -->
<div class="col-md-3">
    <div class="panel panel-default" style="border-color: #189eff;">
        <div class="panel-heading" style="background-color:slateblue;">
            <span class="panel-title">Danh sách quản lý</span>
        </div>
        <div class="list-group">
            <a href="/manager/category" class="list-group-item">Quản lý danh mục</a>
            <a href="/manager/account" class="list-group-item">Quản lý tài khoản</a>
            <a href="/manager/account/approval" class="list-group-item">Phê duyệt bán hàng</a>
             <a href="/manager/product" class="list-group-item">Quản lý sản phẩm</a>
        </div>
    </div>
</div>
<!-- Panel left -->
