{{#section 'title'}}
    Đăng bán sản phẩm
{{/section}}
{{#section 'breadcrumbs'}}
    <div class="row">
        <ol class="breadcrumb breadcrumb-arrow">
            <li><a href="/home">Trang chủ</a></li>
            <li><a href="/account">Tài khoản</a></li>
            <li class="active"><span>Đăng bán sản phẩm</span></li>
        </ol>
        <!-- /Đường dẫn -->
    </div>
{{/section}}
{{#section 'css'}}
    <link rel="stylesheet" type="text/css" href="/assets/css/fileinput.min.css">
    <link href="/assets/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" media="all" />
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <style type="text/css">
    .btn-account i {
        margin-top: 2%;
        font-size: 30px;
    }
    
    .btn-account span {
        padding-left: 15px;
        padding-right: 5px;
        width: 100%;
        display: inline-block;
        text-align: left;
        font-size: 130%;
    }
    
    .btn-account span small {
        width: 100%;
        display: inline-block;
        text-align: left;
    }
    </style>
{{/section}}
{{#section 'js'}}
    <script type="text/javascript" src="/assets/bootstrap-4.3.1-dist/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/assets/js/plugins/piexif.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/sortable.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/purify.min.js"></script>
    <script type="text/javascript" src="/assets/js/fileinput.min.js"></script>
    <script type="text/javascript" src="/assets/jquery-validation-1.12.0/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/assets/js/tinymce/tinymce.min.js"></script>
    <script type="text/javascript">
    tinymce.init({
        selector: 'textarea#motachitiet',
        theme: 'modern',

        plugins: [
            'advlist autolink lists link image charmap print preview hr anchor pagebreak',
            'searchreplace wordcount visualblocks visualchars code fullscreen',
            'insertdatetime media nonbreaking save table contextmenu directionality',
            'emoticons template paste textcolor colorpicker textpattern imagetools codesample toc help'
        ],
        toolbar: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media | forecolor backcolor emoticons | codesample help',
        image_advtab: true
    });
    $('.form_datetime').datetimepicker({
        format: "dd-mm-yyyy Lúc hh:ii",
        weekStart: 1,
        autoclose: true,
        todayBtn: true,
        todayHighlight: 1,
        forceParse: 0,
        startDate: "2013-02-14 10:00",
        minuteStep: 5
    });

    function recaptchaCallback() {
        $('#hiddenRecaptcha').valid();
    };
    $('#formInfo').validate({
        ignore: ".ignore",
        rules: {
            ten: {
                required: true,
                minlength: 3
            },
            hinhanh: {
                required: true
            },
            tgbatdau: {
                required: true
            },
            tgketthuc: {
                required: true
            },
            giakhoidiem: {
                required: true,
                number: true
            },
            buocgia: {
                required: true,
                number: true
            },
            giamuangay: {
                number: true,
                min: function() {
                    return parseInt($('#giakhoidiem').val());
                }
            },
            motangangon: {
                required: true
            },
            motachitiet: {
                required: true
            },
            hiddenRecaptcha: {
                required: function() {
                    if (grecaptcha.getResponse() == '') {
                        return true;
                    } else {
                        return false;
                    }

                }
            }
        },

        messages: {
            ten: {
                required: 'Vui lòng nhập tên sản phẩm',
                minlength: 'Tên sản phẩm phải ít nhất 3 kí tự'
            },
            hinhanh: {
                required: 'Vui lòng chọn ít nhất 1 hình ảnh'
            },
            tgbatdau: {
                required: "Vui lòng chọn thời gian bắt đầu"
            },
            tgketthuc: {
                required: "Vui lòng chọn thời gian kết thúc"
            },
            giakhoidiem: {
                required: "Vui lòng nhập giá khởi điểm",
                number: 'Giá phải là số thập phân'
            },
            buocgia: {
                required: 'Vui lòng nhập bước giá',
                number: 'Giá phải là số thập phân'
            },
            giamuangay: {
                number: 'Giá phải là số thập phân',
                min: 'Giá mua ngay phải lớn hơn hoặc bằng giá khởi điểm'
            },
            motangangon: {
                required: 'Vui lòng nhập mô tả ngắn gọn'
            },
            motachitiet: {
                required: 'Vui lòng nhập mô tả chi tiết'
            },
            hiddenRecaptcha: {
                required: 'Nhập capcha'
            }
        },

        errorElement: 'span',
        errorClass: 'help-block',

        highlight: function(element) {
            $(element)
                .closest('.form-group')
                .addClass('has-error');
        },

        success: function(label) {
            $(label)
                .closest('.form-group')
                .removeClass('has-error');

            label.remove();
        },
    });
    $(document).on('ready', function() {
        $('#input-42').fileinput({
            maxFileCount: 2,
            allowedFileExtensions: ["jpg", "gif", "png", "txt"]
        });
    });
    $(document).ready(function() {
        $('#input-44').fileinput({
            uploadUrl: '/file-upload-batch/2',
            maxFilePreviewSize: 10240
        });
    });
    </script>
{{/section}}
{{> accountPanel this}}
<div class="col-md-9">
    <form class="form-horizontal" method="post" action="" id="formInfo" enctype="multipart/form-data">
        <div class="panel panel-default" style="border-color: #189eff;">
            <div class="panel-heading" style="background-color:slateblue; color:#fff">
                Đăng sản phẩm
            </div>
            {{#if isPermitted}}
                <div class="panel-body">
                    <!-- panel body -->
                    <div class="col-sm-12">
                        {{#if isSucceeded}}
                            <div class="alert alert-success alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <strong>Hoàn tất!</strong> Sản phẩm đã được đăng bán thành công.
                            </div>
                        {{/if}}
                        <div class="form-group">
                            <!-- Tên sản phẩm -->
                            <label class="control-label col-sm-2" for="ten">Tên sản phẩm</label>
                            <div class="col-sm-10">
                                <input type="ten" class="form-control" id="ten" placeholder="Tên sản phẩm" name="ten">
                            </div>
                        </div>
                        <div class="form-group">
                            <!-- Loại sản phẩm -->
                            <label class="control-label col-sm-2" for="loaisp">Loại sản phẩm</label>
                            <div class="col-sm-5">
                                <select class="form-control" id="loaisp" name="loaisp">
                                    {{#each layoutModels.categories }}
                                        <option value= {{id}}>{{tendanhmuc}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <!-- Hình sản phẩm -->
                            <label class="control-label col-sm-2" for="input-42">Hình ảnh</label>
                            <div class="col-sm-10">
                                <input id="input-42" name="hinhanh" class="file file-loading" type="file" multiple data-max-file-count='3' data-allowed-file-extensions='["jpg", "gif", "png"]'>{{!--  <input id="input-7" name="hinhanh" multiple type="file" class="file file-loading" data-allowed-file-extensions='["jpg", "png"]' placeholder="Chọn hình ảnh"> --}}
                            </div>
                        </div>
                        <div class="form-group">
                            <!-- Ngày bắt đầu -->
                            <label for="dtp_input2" class="col-sm-2 control-label">Ngày bắt đầu</label>
                            <div class="col-sm-8">
                                <div class="input-group date form_datetime" data-date="" data-link-field="dtp_input2" data-link-format="dd-mm-yyyy hh:ii">
                                    <input class="form-control" type="text" value="" readonly>
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                </div>
                                <input type="hidden" id="dtp_input2" name="tgbatdau" value="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <!-- Ngày kết thúc-->
                            <label for="dtp_input3" class="col-sm-2 control-label">Ngày kết thúc</label>
                            <div class="col-sm-8">
                                <div class="input-group date form_datetime" data-date="" data-link-field="dtp_input3" data-link-format="dd-mm-yyyy hh:ii">
                                    <input class="form-control" type="text" value="" readonly>
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                </div>
                                <input type="hidden" id="dtp_input3" name="tgketthuc" value="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <!-- Giá khởi điểm-->
                            <label class="control-label col-sm-2" for="giakhoidiem">Giá khởi điểm</label>
                            <div class="col-sm-10">
                                <input type="ten" class="form-control" id="giakhoidiem" placeholder="Giá khởi điểm" name="giakhoidiem">
                            </div>
                        </div>
                        <div class="form-group">
                            <!--Bước giá-->
                            <label class="control-label col-sm-2" for="giacaohon">Bước giá</label>
                            <div class="col-sm-10">
                                <input type="ten" class="form-control" id="giacaohon" placeholder="Bước giá" name="buocgia">
                            </div>
                        </div>
                        <div class="form-group">
                            <!-- Giá mua ngay -->
                            <label class="control-label col-sm-2" for="giamuangay">Giá mua ngay</label>
                            <div class="col-sm-10">
                                <input type="ten" class="form-control" id="giamuangay" placeholder="Giá mua ngay" name="giamuangay">
                                <small>*Nếu không có giá mua ngay thì để trống</small>
                            </div>
                        </div>
                        <div class="form-group">
                            <!-- Mô tả ngắn ngọn -->
                            <label class="control-label col-sm-2" for="motasoluoc">Mô tả sơ lược</label>
                            <div class="col-sm-10">
                                <input type="ten" class="form-control" id="motasoluoc" placeholder="Thông tin ngắn gọn về sản phẩm" name="motangangon">
                            </div>
                        </div>
                        <div class="form-group">
                            <!-- Mô tả chi tiết -->
                            <label class="control-label col-sm-2" for="motachitiet">Mô tả chi tiết</label>
                            <div class="col-sm-10">
                                <textarea id="motachitiet" placeholder="Mô tả chi tiết" rows="10" name="motachitiet">
                                </textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <!-- Tự động gia hạn -->
                            <label class="control-label col-sm-2" for="mota">Tự động gia hạn</label>
                            <div class="col-sm-10">
                                <label class="radio-inline">
                                    <input type="radio" name="tudonggiahan" id="yes" value="1">Có
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="tudonggiahan" checked id="no" value="0">Không
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <dir class="col-sm-offset-4 col-sm-8">
                                <div class="g-recaptcha" data-sitekey="6LfSJyMUAAAAAMV3e5E87XtAdptnrMg_aVn68n0L" data-callback="recaptchaCallback"></div>
                                {{!-- <button type="hidden" class="hiddenRecaptcha required" name="hiddenRecaptcha" id="hiddenRecaptcha"> --}}
                            </dir>
                        </div>
                         {{#if isSucceeded}}
                            <div class="alert alert-success alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <strong>Hoàn tất!</strong> Sản phẩm đã được đăng bán thành công.
                            </div>
                        {{/if}}
                    </div>
                </div>
                <!-- panel body -->
                <div class="panel-footer">
                    <div class="col-sm-offset-3">
                        <button type="submit" class="btn btn-success" style="margin-right: 10px">Xác nhận</button>
                        <button type="button" class="btn btn-default">Hủy</button>
                    </div>
                </div>
            {{else}}
                <div class="panel-body">
                    <!-- panel body -->
                  
                    <div class="col-sm-9">
                        <h3>Tài khoản này chưa được cấp phép!!</span></h3>
                        
                        <h3><i class="fas fa-hand-point-right" style="size:9px"></i> <a href="/account/newPermit">Nâng cấp tài khoản thành seller tại đây</a></h3>
                    </div>
                    <div class="col-3">
                     <img src="/crying.png" style="width:15%;height:15%"> 
                     </div>
                   
                </div>
            {{/if}}
        </div>
    </form>
</div>
