{{#section 'title'}} Đăng ký {{/section}}
{{#section 'css'}}
    <link href="/assets/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/assets/css/bootstrap-social.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" type="text/css" href="/assets/css/breadcrumbs.css">
    <link href="/assets/css/docs.css" rel="stylesheet">
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <style type="text/css">
    label {
        font-weight: normal !important;
    }
    .btn-account i {
        margin-top: 2%;
        font-size: 30px;
    }
    
    .btn-account span {
        padding-left: 15px;
        padding-right: 5px;
        width: 100%;
        display: inline-block;
        text-align: left;
        font-size: 130%;
    }
    
    .btn-account span small {
        width: 100%;
        display: inline-block;
        text-align: left;
    }
    </style>
{{/section}}
{{#section 'js'}}
    <script src="/assets/jquery-validation-1.12.0/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/assets/bootstrap-4.3.1-dist/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
    <script type="text/javascript">
    function recaptchaCallback() {
        $('#hiddenRecaptcha').valid();
    };
    $('#frmNewPer').validate({
        ignore: ".ignore",
        rules: {

            policy: {
                required: true
            },

            hiddenRecaptcha: {
                required: function() {
                    if (grecaptcha.getResponse() == '') {
                        return true;
                    } else {
                        return false;
                    }

                }
            }

        },

        messages: {

            policy: {
                required: 'Vui lòng đồng ý với điều khoản của web'
            },

            hiddenRecaptcha: {
                required: 'Nhập capcha'
            }
        },

        errorElement: 'span',
        errorClass: 'help-block',

        highlight: function(element) {
            $(element)
                .closest('.form-group')
                .addClass('has-error');
        },

        success: function(label) {
            $(label)
                .closest('.form-group')
                .removeClass('has-error');

            label.remove();
        },
    });
    </script>
{{/section}}
{{#section 'breadcrumbs'}}
    <div class="row">
        <ol class="breadcrumb breadcrumb-arrow">
            <li><a href="/home">Trang chủ</a></li>
            <li><a href="/account">Tài khoản</a></li>
            <li class="active"><span>Xin bán</span></li>
        </ol>
        <!-- /Đường dẫn -->
    </div>
{{/section}}
{{> accountPanel this}}
<div class="col-md-9">
    {{#if showError }}
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Warning!</strong> {{ errorMsg }}
        </div>
    {{/if}}
    <div class="panel panel-default" style="border-color: #189eff;">
        <div class="panel-heading" style="background-color:slateblue">
           
            <span class="panel-title">Xin được bán</span>
        </div>
        {{#isEqual layoutModels.account.permission 0}}
        <form class="form-horizontal" method="post" action="" id="frmNewPer">
            <div class="panel-body">
                <!-- panel body -->
                <div class="col-sm-8">
                    <div class="form-group">
                        
                        <div class="col-sm-offset-3 col-sm-8">
                            <label>
                                   <pre style="font-weight:bold;font-family: Arial, Helvetica, sans-serif;background-color:wheat;width:600px;border:2px solid aqua" readonly>
1. Thông báo, niêm yết công khai, đầy đủ, chính xác các thông tin cần thiết 

liên quan đến hàng hóa được bán đấu giá.

2. Công bố giá khởi điểm; mức giá chấp nhận bán, nếu có.

3. Chịu trách nhiệm về chất lượng, quy cách của hàng hóa được bán đấu giá.

4. Giải quyết các khiếu nại của người mua về hàng hóa được bán đấu giá.

5. Không bán hàng hóa là đối tượng cầm cố, thế chấp hoặc đang có tranh chấp.


 <input type="checkbox" id="cbPolicy" name="policy"> Tôi xin được bán và tuân thủ các điều khoản của trang web
</pre>

                                </label>
                                
                        </div>
                        <!-- Checkbox đồng ý điều khoản -->
                        {{!-- <div class="col-sm-offset-4 col-sm-8">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="cbPolicy" name="policy"> Tôi xin được bán và tuân thủ các điều khoản của trang web
                                </label>
                            </div>
                        </div> --}}
                    </div>
                    <div class="form-group">
                        <dir class="col-sm-offset-4 col-sm-8">
                        <div class="g-recaptcha" data-sitekey="6LeF_8cUAAAAAH4RBeAcvc78GBM7oK0bOMDZylF_" data-callback="recaptchaCallback"></div>
                            <input type="hidden" class="hiddenRecaptcha required" name="hiddenRecaptcha" id="hiddenRecaptcha"> 
                       
                        </dir>
                    </div>
                </div>
                <!-- Facebook, google -->
            </div>
            <!-- panel body -->
            <div class="panel-footer">
                <div class="col-sm-offset-3">
                    <button type="submit" class="btn btn-success">Xác nhận</button>
                </div>
            </div>
        </form>
        {{else}}
        <div style="padding:3%;margin:3%">
         <strong style="color: red;font-size:30px;padding:5px">CHỈ CÓ TÀI KHOẢN BIDDER MỚI XIN PHÉP BÁN</strong>
         </div>
        {{/isEqual}}
        <!-- form -->
    </div>
</div>
