{{#section 'title'}}
    Không được phép rả giá
{{/section}}

{{#section 'css'}}
    <link href="/assets/site.css" rel="stylesheet" />
    <link href="/assets/bootstrap-4.3.1-dist/js/bootstrap.min.js" rel="stylesheet" />
    <link href="/assets/css/bootstrap-social.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" type="text/css" href="/assets/css/breadcrumbs.css">
    <script type="text/javascript" src="assets/bootstrap-4.3.1-dist/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
    <link href="/assets/css/docs.css" rel="stylesheet">

    <style type="text/css">
        .btn-account i {
            margin-top: 2%;
            font-size: 30px;
        }
        
        .btn-account span {
            padding-left: 15px;
            padding-right: 5px;
            width: 100%;
            display: inline-block;
            text-align: left;
            font-size: 130%;
        }
        
        .btn-account span small {
            width: 100%;
            display: inline-block;
            text-align: left;
        }
    </style>
{{/section}}

{{#section 'breadcrumbs'}}
    <div class="row">
        <ol class="breadcrumb breadcrumb-arrow">
            <li><a href="/home">Trang chủ</a></li>
            <li><a href="/product/detail/{{idsp}}">Sản phẩm</a></li>
            <li class="active"><span>Trả giá</span></li>
        </ol>
    </div>
{{/section}}

{{> accountPanel}}

<div style="font-size: 200%;">
	Tài khoản này không được phép tham gia đấu giá.
	<br>
	Lý do: {{lydo}}
   <i class="fas fa-sad-tear fa-lg"></i>
</div>